[data-component="Button"] {
    min-width: 50px;
    color: $accent-color;
    font-size: .85rem;
    text-decoration: none;
    box-shadow: 0 0 2px 0 $accent-color;
    border-radius: 2rem;
    padding: 8px 12px;
    margin: 12px 0;
    float: left;
    cursor: pointer;
    transition: all 250ms;

    &.active,
    &:hover {
        color: black;
        box-shadow: 0 0 1px 1px $accent-color;
    }
}

[data-component="ButtonsGroup"] {
    width: 100%;
    text-align: center;
    padding: 0 12px;
    float: left;

    .alignment {
        float: left;

        &.center {
            display: inline-block;
            float: none;
        }

        &.right {
            float: right;
        }
    }

    [data-component="Button"]:not(:last-of-type) {
        margin-right: 12px;
    }
}
