[data-component="Button"] {
    min-width: 50px;
    background-color: rgba(0, 0, 0, 0.08);
    color: black;
    font-size: .85rem;
    text-decoration: none !important;
    border: none !important;
    padding: 8px 12px;
    margin: 20px 0;
    float: left;
    cursor: pointer;
    transition: all 250ms;

    &:not(:last-of-type) {
        margin-right: 10px;
    }

    &:hover {
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
    }
}

[data-component="ButtonsGroup"] {
    width: 100%;
    float: left;

    &.center {
        text-align: center;

        .alignment {
            display: inline-block;
        }
    }

    &.right {
        .alignment {
            float: right;
        }
    }
}
