.main-navigation {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;

    .item {
        display: inline;

        a {
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding: 10px 12px 8px 12px;
            float: left;

            &:hover {
                border-bottom: 2px solid $accent;
            }
        }
    }
}
