[data-component="ProjectsFilter"] {
    [data-component="ButtonsGroup"] {
        margin-bottom: 20px;

        button.selected {
            background-color: $accent-color;
            color: white;
            font-weight: 500;
        }

        &.tags {
            margin-bottom: 28px;

            button {
                margin-bottom: 0;

                @media (max-width: 680px) {
                    &:nth-of-type(n+15) {
                        display: none;
                    }
                }
            }
        }
    }
}
