.btn {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 8px 12px;
    margin: 12px 0;
    float: left;
    transition: all 250ms;

    &.active {
        border-color: black;
    }

    &:hover {
        border-color: gray;
    }
}
