@using Portfolio2017.Helpers
@using System

@{
    Layout = "~/Layouts/_Main.cshtml";
    Page.Title = "Administration";

    bool authorized = false;
    string currentIpAddress = new WebClient().DownloadString(@"http://icanhazip.com").Trim();

    foreach (var item in Config.AllowedIpAddressesList)
    {
        if (item.Address == currentIpAddress)
        {
            authorized = true;
            break;
        }
    }

    if (!authorized)
    {
        Response.Redirect("~/Default.cshtml");
    }

    var projects = Data.Projects;
    var projectProperties = projects[0].GetType().GetProperties();

    List<DataProperty> properties = new List<DataProperty>();

    foreach (var projectProperty in projectProperties)
    {
        properties.Add(new DataProperty {
            Name = projectProperty.Name,
            DataType = projectProperty.PropertyType.Name
        });
    }

    properties = properties;
}

<section class="page-content with-panel" id="main-page">
    <h1 class="hidden">Introduction</h1>

    @{
        foreach (var project in projects)
        {
            <div class="project">

            @{
                foreach (var property in properties)
                {
                    <div class="property">
                        <label for="@property.Name">@property.Name</label>
                        <input type="" name="@property.Name" value="@project.GetType().GetProperties().Select(x => x.Name == property.Name)" />
                    </div>
                }
            }

             </div>
        }
    }
</section>
