<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Page.Title - Honza Chalupa portfolio</title>
    <link rel="stylesheet" href="~/Styles/main.css">
</head>
<body>
    <div class="main-navigation-overlay"></div>
    <div class="main-navigation-trigger"></div>

    @RenderPage("~/Partials/_MainHeader.cshtml")

    <main>
        @RenderBody()
    </main>
    
    @RenderPage("~/Partials/_MainFooter.cshtml")

    <script src="~/Scripts/app.js" async></script>
</body>
</html>
