[data-component="ContentBlock_Blank"] {
    width: 100%;
    background-color: white;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.2px;
    float: left;

    @media (max-width: 799px) {
        margin-bottom: 12px;
    }
    @media (min-width: 800px) {
        margin-bottom: 20px;
        padding-left: 6vw;
        padding-right: 6vw;
    }

    & > .headline {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 200;
        margin: 15px 0;
        float: left;
    }

    .subheadline {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 200;
        float: left;
    }

    [data-component="ButtonsGroup"] {
        padding: 0;
    }
}
