.page-content {
    [data-component="ContentBlock_Grid"] {
        ul {
            [data-component="ContentBlock_GridItem"],
            &::after {
                @media (max-width: 679px) {
                    flex-basis: 100%;
                }
                @media (min-width: 680px) AND (max-width: 1199px) {
                    flex-basis: 48.5%;
                }
                @media (min-width: 1200px) {
                    flex-basis: 32%;
                }
            }
        }
    }

    &.with-panel {
        [data-component="ContentBlock_Grid"] {
            ul {
                [data-component="ContentBlock_GridItem"],
                &::after {
                    @media (max-width: 679px) {
                        flex-basis: 100%;
                    }
                    @media (min-width: 680px) {
                        flex-basis: 48.5%;
                    }
                }
            }
        }
    }
}

[data-component="ContentBlock_Grid"] {
    width: 100%;
    background-color: white;
    float: left;

    @media (max-width: 799px) {
        margin-bottom: 12px;

        &.centered {
            padding: 12px;
        }
    }
    @media (min-width: 800px) {
        margin-bottom: 20px;

        &.centered {
            padding: 12px 6vw;
        }
    }

    & > .headline {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 200;
        margin: 15px 0;
        float: left;
    }

    ul {
        @extend .flexbox-grid;

        width: 100%;
        float: left;
        justify-content: space-between;

        &::after {
            content: "";
        }

        [data-component="ContentBlock_GridItem"] {
            list-style: none;
            margin-bottom: 10px;

            a {
                width: 100%;
                margin-bottom: 6%;
                float: left;
                border-radius: 2px;

                .image {
                    width: 100%;
                    height: calc(100% - 30px);
                    background-position-y: top;
                    box-shadow: 0 0 15px transparentize($accent-color, 0.8);
                    float: left;
                    position: relative;

                    &.fill {
                        background-size: cover;
                    }

                    .company-logo {
                        width: 30%;
                        background-color: rgba(255, 255, 255, 0.75);
                        border-radius: 3px;
                        padding: 8px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }
                }

                .headline {
                    width: 100%;
                    font-size: 1.4rem;
                    font-weight: 200;
                    margin: 8px 0 0 0;
                    float: left;
                }

                .description {
                    width: 100%;
                    max-height: 4.6em;
                    line-height: 1.5em;
                    margin: 5px 0 0 0;
                    float: left;
                    overflow: hidden;
                }
            }
        }
    }

    &.latest-projects {
        @media (max-width: 680px) {
            [data-component="ContentBlock_GridItem"]:nth-of-type(4) {
                display: none;
            }
        }

        @media (max-width: 1200px) {
            [data-component="ContentBlock_GridItem"]:nth-of-type(5) {
                display: none;
            }
        }

        @media (max-width: 1200px) {
            [data-component="ContentBlock_GridItem"]:nth-of-type(6) {
                display: none;
            }
        }
    }
}
