[data-component="ContentBlock_ProjectTeaser"] {
    width: 100%;
    background-color: white;
    float: left;

    @media (max-width: 799px) {
        padding: 12px;
        margin-bottom: 12px;
    }
    @media (min-width: 800px) {
        padding: 12px 6vw;
        margin-bottom: 20px;
    }

    & > .headline {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 200;
        margin: 15px 0;
        float: left;

        @media (min-width: 680px) {
            display: none;
        }
    }

    .image {
        float: left;
        position: relative;

        @media (max-width: 679px) {
            width: 100%;
        }
        @media (min-width: 680px) AND (max-width: 799px) {
            width: 35%;
            left: -8px;
        }
        @media (min-width: 800px) {
            width: 50%;
            left: -10px;
        }
    }

    .text-section {
        float: right;

        @media (max-width: 679px) {
            width: 100%;
        }
        @media (min-width: 680px) AND (max-width: 799px) {
            width: 65%;
        }
        @media (min-width: 800px) {
            width: 50%;
        }

        .headline,
        .subheadline,
        .content,
        .company {
            padding: 12px 0;
        }

        .headline {
            width: 100%;
            font-size: 1.8rem;
            font-weight: 200;
            margin: 15px 0 0 0;
            float: left;

            @media (max-width: 679px) {
                display: none;
            }
        }

        .subheadline {
            width: 100%;
            font-size: 1.2rem;
            padding-top: 6px;
            padding-bottom: 12px;
            float: left;
        }

        .content {
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: 0.2px;
        }

        .show-more {
            margin: 5px 0;
            float: left;
            transition: all 250ms;
        }

        .company {
            width: 100%;
            text-decoration: none;
            float: left;
            margin: 20px 0 10px 0;

            p {
                font-size: 0.8rem;
            }

            .logo {
                width: 11rem;
                padding-top: 12px;
            }
        }
    }
}
