@using Portfolio2017.Helpers

<div class="latest-tweets">
    <h3 class="headline">Latest tweets</h3>

    <div class="tweets-list">
        @{
            foreach (var tweet in Data.Tweets)
            {
                @Components.Tweet(tweet.Timestamp, tweet.Content, tweet.Url);
            }
        }
    </div>
    
    <a class="show-more" href="http://www.twitter.com/janchalupa">Show more...</a>
</div>
