<header class="main-header">
    <div class="content">
        @RenderPage("~/Partials/_MainNavigation.cshtml")

        <h1 class="headline"><span>&lt;</span>HonzaChalupa<span>/&gt;</span></h1>
        <h3 class="tags">full-stack programmer ~ wannabe UX designer ~ car-lover ~ mountain biker</h3>
    </div>
</header>
