<header class="header preserve-ratio" data-ratio="0.4" data-ratioM="0.7">
    <h1 class="brand"><span class="transparent">&lt;</span>HonzaChalupa<span class="transparent">/&gt;</span></h1>
    <p class="tags">full-stack programmer ~ wannabe UX designer ~ car-lover ~ mountain biker</p>
</header>
