@{
    Layout = "~/Templates/Layouts/_DefaultLayout.cshtml";
    Page.Title = "Home Page";
}

<article class="text-section">
    <h2 class="label">About Me</h2>
    <p class="text">Jsem bývalým studentem střední průmyslové školy Preslova (obor Informačních technologií) a o tvorbu webů se zajímám od roku 2008. Za tu dobu už jsem vytvořil několik zajímavých projektů, z toho každý mne posunul zas o kousek dále v oblasti tvorby webových stránek a aplikací. Kromě toho se okrajově zajímám o focení a dříve také o tvorbu článků z oboru IT.</p>
</article>
<article class="grid-section">
    <h2 class="label">My Projects</h2>
    <div class="grid">
        <a class="item" href="~/ProjectsList.cshtml?type=webapp">
            <h3>Web apps</h3>
            <div class="image preserve-ratio" data-ratio="0.7" data-ratioM="0.5" style="background-image: url('Images/item-temp.png')"></div>
        </a>
        <a class="item" href="~/ProjectsList.cshtml?type=nativeapp">
            <h3>Mobile apps</h3>
            <div class="image preserve-ratio" data-ratio="0.7" data-ratioM="0.5" style="background-image: url('Images/item-temp.png')"></div>
        </a>
        <a class="item" href="~/ProjectsList.cshtml">
            <h3>UX/UI</h3>
            <div class="image preserve-ratio" data-ratio="0.7" data-ratioM="0.5" style="background-image: url('Images/item-temp.png')"></div>
        </a>
    </div>
</article>
<article class="text-section">
    <h2 class="label">Other Work</h2>
    <p class="text">...a občas se jen prostě nudím a tak zasednu k Excelu nebo CSSDeck a zkusím něco vytvořit. Občas to vyjde, občas ne - ale vkaždém případě se tím něco nového naučím a rozšířím své obzory.</p>
</article>
<article class="text-section">
    <h2 class="label">Cooperation</h2>
    <p class="text">Chcete se podílet na vývoji zajímavých aplikací, nebo jen máte nápad a nevíte, jak ho zrealizovat? Napište mi a zkusíme si vzájemně vyjít vstříc.</p>
</article>