<header class="header-min">
    <h1 class="brand"><span class="transparent">&lt;</span>HonzaChalupa<span class="transparent">/&gt;</span></h1>
    <nav>
        <a href="/">Back to projects page</a>
    </nav>
</header>
