<a class="menu-toggle" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</a>
<a class="menu-mask" onclick="toggleMenu('close')"></a>

<nav class="menu">
    <ul>
        <li class="item active"><a href="#">Introduction</a></li>
        <li class="item"><a href="project.html">Projects</a></li>
        <li class="item"><a href="#">Photography</a></li>
        <li class="item"><a href="#">Contact</a></li>
    </ul>
</nav>
