<aside class="social-panel">
    @RenderPage("~/Templates/Components/_SocialNetworks.cshtml")

    <div class="twitter-timeline">
        <h3 class="headline">Twitter <a href="http://www.twitter.com/janchalupa">@@janchalupa</a></h3>
        <div class="placeholder"></div>
        <a class="show-more" href="http://www.twitter.com/janchalupa">Show more...</a>
    </div>
</aside>
