.main-header {
    height: 35vw;

    .content {
        height: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        opacity: 0;

        .headline,
        .tags {
            background-color: white;
            color: $accent;
            padding: 8px 12px;
            margin: 0 auto 12px 0;
        }

        .headline {
            font-size: 5vw;
        }

        .tags {
            font-size: 1rem;

            @media (max-width: 679px) {
                display: none;
            }
        }
    }
}
