* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-font-smoothing: subpixel-antialiased; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

body,
html {
  background-color: #D3D3D3; }

.default-padding, main .page-content.default-template .grid-section .grid .item, main .page-content.project-template .description .warning, main .social-panel .social-networks .item, main .social-panel .twitter-timeline {
  padding: 12px; }

.default-padding-h {
  padding-left: 12px;
  padding-right: 12px; }

.default-padding-v, main .page-content.project-template .description {
  padding-top: 12px;
  padding-bottom: 12px; }

main {
  width: 1400px;
  background-color: white;
  margin: 0 auto;
  position: relative; }
  main .header {
    width: 100%;
    height: 200px;
    background-image: url("../images/header-temp.jpg");
    background-size: cover;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .header .brand,
    main .header .tags {
      color: white;
      text-align: center; }
    main .header .brand {
      font-size: 95px; }
      main .header .brand .transparent {
        opacity: 0.5; }
    main .header .tags {
      font-size: 18px; }
  main .menu-mask,
  main .menu-toggle {
    display: none; }
  main .menu {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 2px;
    position: absolute;
    top: 30px;
    right: 30px; }
    main .menu.sticky {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.85);
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999; }
      main .menu.sticky .item {
        color: black; }
    main .menu.active {
      font-weight: 800; }
    main .menu .item {
      color: white;
      font-weight: 100;
      display: inline-flex; }
      main .menu .item a {
        padding: 10px 20px;
        text-transform: uppercase; }
        main .menu .item a:hover {
          background-color: rgba(255, 255, 255, 0.1); }
  main .page-content.default-template {
    width: 100%;
    float: left; }
    main .page-content.default-template.with-panel {
      width: 65%; }
    main .page-content.default-template .grid-section,
    main .page-content.default-template .text-section {
      width: 100%;
      float: left;
      margin-bottom: 15px; }
    main .page-content.default-template .text-section .label {
      width: 25%;
      background-color: #150C6D;
      color: white;
      text-align: center;
      float: left;
      padding: 4px; }
    main .page-content.default-template .text-section .text {
      width: 75%;
      background-color: white;
      font-size: 15px;
      text-align: justify;
      float: right;
      padding: 12px 10%; }
    main .page-content.default-template .text-section:first-of-type .label {
      border-top: 1px dashed rgba(255, 255, 255, 0.3); }
    main .page-content.default-template .grid-section {
      background-color: white;
      padding: 30px 12%; }
      main .page-content.default-template .grid-section .label {
        margin-bottom: 10px; }
      main .page-content.default-template .grid-section .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between; }
        main .page-content.default-template .grid-section .grid .item {
          flex-basis: calc((100% - 1vw) / 3);
          border: 1px solid #D3D3D3;
          margin-bottom: 1vw; }
          main .page-content.default-template .grid-section .grid .item .image {
            width: 100%; }
  main .page-content.project-template {
    background-color: white;
    padding: 30px;
    float: left; }
    main .page-content.project-template .device-preview {
      width: 100%;
      float: left; }
      main .page-content.project-template .device-preview.desktop {
        width: 70%; }
        main .page-content.project-template .device-preview.desktop .preview-window {
          width: 200%;
          height: 200%;
          background-color: white;
          border: 4vw solid rgba(0, 0, 0, 0.9);
          border-radius: 2vw;
          transform-origin: top left;
          transform: scale(0.5); }
      main .page-content.project-template .device-preview.phone {
        width: calc(30% - 30px);
        margin-left: 30px; }
        main .page-content.project-template .device-preview.phone .preview-window {
          width: 100%;
          height: 100%;
          background-color: white;
          border-top: 3vw solid rgba(0, 0, 0, 0.9);
          border-right: 1vw solid rgba(0, 0, 0, 0.9);
          border-bottom: 4vw solid rgba(0, 0, 0, 0.9);
          border-left: 1vw solid rgba(0, 0, 0, 0.9);
          border-radius: 2vw; }
      main .page-content.project-template .device-preview .preview-window {
        position: relative;
        /*&.live::after {
                        content: 'Live Preview';
                        width: 100%;
                        height: 100%;
                        color: red;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }*/ }
        main .page-content.project-template .device-preview .preview-window.static {
          display: none; }
    main .page-content.project-template .description {
      width: 70%;
      float: left; }
      main .page-content.project-template .description h3 {
        margin: 15px 0 5px 0; }
      main .page-content.project-template .description p {
        opacity: 0.7; }
      main .page-content.project-template .description p, main .page-content.project-template .description h3 {
        width: 100%;
        text-align: justify;
        float: left; }
      main .page-content.project-template .description .warning {
        width: auto;
        background-color: rgba(255, 0, 0, 0.15);
        border: 1px dashed rgba(255, 0, 0, 0.3);
        margin-bottom: 12px; }
    main .page-content.project-template .qr-link {
      width: 30%;
      float: right;
      margin-top: 20px;
      padding-left: 30px;
      text-align: center; }
      main .page-content.project-template .qr-link .code {
        width: 100px; }
      main .page-content.project-template .qr-link .description {
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding: 10px 60px; }
  main .social-panel {
    width: calc(35% - 15px);
    background-color: rgba(255, 255, 255, 0.4);
    float: right; }
    main .social-panel .social-networks {
      width: 100%;
      background-color: #150C6D;
      color: white;
      border-top: 1px dashed rgba(255, 255, 255, 0.3);
      float: left; }
      main .social-panel .social-networks .item {
        width: 25%;
        text-align: center;
        float: left; }
        main .social-panel .social-networks .item .label {
          font-size: 12px; }
        main .social-panel .social-networks .item:hover {
          background-color: rgba(255, 255, 255, 0.1); }
    main .social-panel .twitter-timeline {
      float: left; }
      main .social-panel .twitter-timeline .headline a {
        opacity: 0.5; }
        main .social-panel .twitter-timeline .headline a:hover {
          opacity: 1; }
      main .social-panel .twitter-timeline .tweet {
        width: 100%;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        float: left;
        opacity: 0.9; }
        main .social-panel .twitter-timeline .tweet:last-of-type {
          border: none; }
        main .social-panel .twitter-timeline .tweet:hover {
          background-color: rgba(255, 255, 255, 0.3); }
        main .social-panel .twitter-timeline .tweet time {
          font-size: 12px;
          font-weight: 400;
          opacity: 0.4; }
        main .social-panel .twitter-timeline .tweet p {
          font-size: 14px; }
      main .social-panel .twitter-timeline .show-more {
        width: 100%;
        background-color: #150C6D;
        color: white;
        font-size: 14px;
        text-align: center;
        margin-top: 15px;
        padding: 10px;
        float: left; }
  main .footer {
    width: 100%;
    background-color: #150C6D;
    color: white;
    text-align: center;
    padding: 50px;
    float: left; }

@media (max-width: 1600px) {
  main {
    width: 1200px; }
    main .page-content.default-template .grid-section .grid .item {
      flex-basis: calc((100% - 1vw) / 2); } }

@media (max-width: 1200px) {
  main {
    width: 100%; }
    main .header .brand {
      font-size: 8vw; }
    main .header .tags {
      font-size: 1.5vw; }
    main .page-content.default-template.with-panel {
      width: 70%; }
    main .social-panel {
      width: 30%; } }

@media (max-width: 992px) {
  main .page-content.default-template.with-panel {
    width: 100%; }
  main .page-content.project-template .device-preview .preview-window.live {
    display: none; }
  main .page-content.project-template .device-preview .preview-window.static {
    display: inline; }
  main .page-content.project-template .description {
    width: 100%; }
  main .page-content.project-template .qr-link {
    display: none; }
  main .social-panel {
    width: 100%; }
  main .social-panel .social-networks {
    display: none; }
  main .social-panel .twitter-timeline {
    background-color: white; }
    main .social-panel .twitter-timeline .tweet:nth-child(n+4) {
      display: none; }
    main .social-panel .twitter-timeline .tweet:nth-child(3) {
      border: none; }
  main .low-priority {
    display: none; } }

@media (max-width: 768px) {
  .default-padding-768, main .page-content.default-template .text-section .label, main .page-content.default-template .text-section .text {
    padding: 15px; }
  main .menu-toggle {
    width: 60px;
    height: 45px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transform: scale(0.5);
    display: inline;
    position: absolute;
    top: 6px;
    left: 2px;
    z-index: 99; }
    main .menu-toggle span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: white;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out; }
      main .menu-toggle span:nth-child(1) {
        top: 0;
        transform-origin: left center; }
      main .menu-toggle span:nth-child(2) {
        top: 18px;
        transform-origin: left center; }
      main .menu-toggle span:nth-child(3) {
        top: 36px;
        transform-origin: left center; }
    main .menu-toggle.opened span {
      background-color: #150C6D; }
      main .menu-toggle.opened span:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px; }
      main .menu-toggle.opened span:nth-child(2) {
        width: 0;
        opacity: 0; }
      main .menu-toggle.opened span:nth-child(3) {
        transform: rotate(-45deg);
        top: 39px;
        left: 8px; }
  main .menu-mask {
    width: 100%;
    height: 100vh;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default; }
  main .menu {
    display: none; }
    main .menu.opened {
      width: 70%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 0;
      padding-top: 50px;
      position: fixed;
      top: 0;
      left: 0;
      display: inline; }
      main .menu.opened .item {
        width: 100%;
        color: black; }
      main .menu.opened.active {
        font-weight: 800; }
  main .page-content.default-template .text-section:first-of-type .label {
    border-top: none; }
  main .page-content.default-template .text-section .label {
    width: 100%;
    text-align: left; }
  main .page-content.default-template .text-section .text {
    width: 100%; }
  main .page-content.default-template .grid-section {
    padding: 12px; }
  main .page-content.project-template .device-preview.desktop {
    width: 100%; }
    main .page-content.project-template .device-preview.desktop .preview-window {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
      transform: scale(1); }
  main .page-content.project-template .device-preview.phone {
    display: none; } }

@media (max-width: 480px) {
  main .header .brand {
    font-size: 9vw; }
  main .header .tags {
    display: none; }
  main .page-content.default-template .grid-section .grid .item {
    flex-basis: 100%; } }

