<div class="social-networks">
    <a class="item" href="http://www.facebook.com/janchalupaportfolio">
        <img class="icon" src="" />
        <p class="label">Facebook</p>
    </a>

    <a class="item" href="http://www.twitter.com/janchalupa">
        <img class="icon" src="" />
        <p class="label">Twitter</p>
    </a>

    <a class="item" href="http://www.behance.net/janchalupa">
        <img class="icon" src="" />
        <p class="label">Behance</p>
    </a>

    <a class="item" href="http://www.github.com/honzachalupa">
        <img class="icon" src="" />
        <p class="label">GitHub</p>
    </a>
</div>
